/*CSS goes here!*/
/*(=✖ ᆺ ✖=)*/

html,
body {
  height: 100%; /*as large as pawsible*/
  padding: 0px;
  margin: 0px;
}

/*our #pond*/
body {
  display: flex;
  justify-content: space-between; /*aligns items horizontally */
}

.leftDiv {
  /*Froggy!*/
  background-color: cadetblue;
  flex-grow: 1;
}

.middleDiv {
  /*another frog*/
  background-color: aqua;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  width: 0;

  /*CTRL+Spacebar ==> autocomplete*/
}

#textBelowCanvas {
  background-image: url("https://www.rd.com/wp-content/uploads/2016/04/01-cat-wants-to-tell-you-laptop.jpg");
  background-size: 5%;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
}

.rightDiv {
  /*guess what? A frog!*/
  background-color: aquamarine;
  flex-grow: 1;
}

/*The place where we can draw stuff with JavaScript*/
#cat-vas {
  background-color: white;
  flex-grow: 1;
  opacity: 1; /*A number between 0 and 1, so 0.5 would work*/
  border-width: 10px;
  border-color: gainsboro;
  border-style: solid; /*CSS wants this*/
}
